@stats-height: 25px;
@popup-width: 206px;
@pic-height: 116px;

.huiyou-hidden {
  opacity: 0;
  visibility: hidden;
}

.huiyou-popup-box {
  width: @popup-width;
  height: @pic-height + @stats-height;
  background: #fff;
  border-radius: 6px;
  position: fixed;
  right: 30px;
  top: 80px;
  z-index: 2333;
  cursor: pointer;
  box-shadow: 1px 3px 6px rgba(0,0,0,.3);

  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;

  &:hover .huiyou-title {
    color: #00a1d6;
  }
}

.huiyou-img-box {
  width: 100%;
  height: @pic-height;
  position: relative;
  border-radius: 6px;
}

.huiyou-title {
  position: absolute;
  bottom: 10px;
  left: 0;
  max-width: @popup-width;
  box-sizing: border-box;
  padding: 0 10px;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  transition: color 0.3s ease;

  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.huiyou-close-icon {
  position: absolute;
  top: 6px;
  right: 6px;
}

.huiyou-stats-bar {
  height: @stats-height;
  width: 100%;
  box-sizing: border-box;
  padding: 0 8px;
  color: #999;

  display: flex;
  justify-content: space-between;

  .bilifont {
    margin-right: 4px;
  }

  > .huiyou-played-count-box {
    display: flex;
    align-items: center;
    margin-right: 4px;
  }

  > .huiyou-author-box {
    display: flex;
    align-items: center;
    overflow: hidden;

    > .huiyou-author {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.huiyou-bubble-box {
  position: fixed;
  right: 30px;
  top: 80px;
  z-index: 2332;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.huiyou-bubble-img {
  transition: all 1s ease-out;
  opacity: 0.4;
  width: 100%;
  height: 100%;

  &:hover {
    opacity: 1;
  }
}
