@stats-height: 25px;
@popup-width: 206px;
@pic-height: 116px;

.huiyou-hidden {
  opacity: 0;
  visibility: hidden;
}

.huiyou-popup-box {
  width: @popup-width;
  height: @pic-height + @stats-height;
  background: #e7e7e7;
  border-radius: 6px;
  position: fixed;
  right: 30px;
  top: 80px;
  z-index: 2333;
  cursor: pointer;

  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;

  &:hover .huiyou-title {
    color: #00a1d6;
  }
}

.huiyou-img-box {
  width: 100%;
  height: @pic-height;
  position: relative;
  border-radius: 6px;
}

.huiyou-title {
  position: absolute;
  bottom: 10px;
  left: 0;
  max-width: @popup-width;
  box-sizing: border-box;
  padding: 0 10px;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  transition: color 0.3s ease;
}

.huiyou-close-icon {
  position: absolute;
  top: 6px;
  right: 6px;
}

.huiyou-stats-bar {
  height: @stats-height;
  width: 100%;
}

.huiyou-bubble-box {
  position: fixed;
  right: 30px;
  top: 80px;
  z-index: 2332;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.huiyou-bubble-img {
  transition: all 1s ease-out;
  opacity: 0.4;
  width: 100%;
  height: 100%;

  &:hover {
    opacity: 1;
  }
}
