@stats-height: 25px;
@popup-width: 141px;
@pic-height: 80px;

.huiyou-popup-box {
  width: @popup-width;
  height: @pic-height + @stats-height;
  background: #e7e7e7;
  border-radius: 6px;
  position: fixed;
  right: 30px;
  top: 80px;
  z-index: 2333;
  cursor: pointer;
}

.huiyou-popup-box:hover .huiyou-title {
  color: #00a1d6;
}

.huiyou-pic-box {
  width: 100%;
  height: @pic-height;
  position: relative;
  border-radius: 6px;
}

.huiyou-title {
  position: absolute;
  bottom: 10px;
  left: 0;
  max-width: @popup-width;
  box-sizing: border-box;
  padding: 0 10px;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  transition: color 0.3s ease;
}

.huiyou-close-icon {
  position: absolute;
  top: 6px;
  right: 6px;
}

.huiyou-stats-bar {
  height: @stats-height;
  width: 100%;
}